div.inputBox
{
margin-left:20px;
margin-right:10px;
width:700px;
min-height:320px;

}
div.inputRow
{
width:530px;
min-height:20px;
margin-left:20px;
margin-top:20px;
}
div.text
{
width:130px;

float:left;
}
div.inputField
{
width:480px;


}
div.emailInputField
{
width:450px;

border-left-width:2px;
border-left-style:solid;
border-left-color:#DADADA;
}
div.button
{
width:530px;
min-height:20px;
margin-left:120px;
margin-top:40px;
}
div.previewBox
{
width:400px;
height:30px;padding-left:30px;
}
div.fckEditor
{
width:620px;
min-height:200px;
padding-top:10px;
}