body
 {
	font: normal small Arial, Helvetica, sans-serif;
	color: #999999;
	margin:0;
	background-repeat:repeat-x;
	background-color:#423417;
	background-image:url(../../images/Beautiful_life/bg.jpg);
	background-attachment:fixed;
	padding: 0;
	margin:0px;
	text-align:center;
	width:100%;
}
.clear {
	clear:both;
}
#wrapper
{
	width:990px;
	margin:25px auto 0;
	text-align:left;
	background-image:url(../../images/Beautiful_life/main_bg.png);
	background-repeat:repeat-y;
	background-position:center 0;
	border-radius:15px 15px 0 0;
	padding-top:10px;
}

#top_head {
	width:990px;
	height:111px;
	background:url(../../images/Beautiful_life/top_header.png) no-repeat 5px 0;
}
form {
}

fieldset {
	border: 0px solid #000;
}

legend {
	border: 0px solid #000;
}

h1, h2, h3 {
	margin: 0;
	color: #11A6D4;
}

h2 {
	margin-bottom: .5em;
	font-size: 1.8em;
}

h3 {
	margin-bottom: 1em;
	font-size: 1em;
}

p, blockquote, ul, ol {
	margin-bottom: 1.5em;
	line-hght: 1.8em;
}

p {
}

blockquote {
}

ul {
	margin-left: 2em;
	list-style: square;
}

ul li {
}

ol {
	margin-left: 2em;
	list-style: lower-roman;
}

ol li {
}

a {
	color: #EA672E;
}

a:hover {
	text-decoration: none;
	color: #11A6D4;
}

img {
	border: none;
}

/* Boxed Style */

.boxed {
	margin-bottom: 1em;
	background: #F7F7F7 url(../../images/Beautiful_life/img07.gif) repeat-x;
	border: 1px solid #CCCCCC;
}

.boxed .title {
	height: 29px;
	padding: 11px 0 0 27px;
	background: url(../../images/Beautiful_life/img08.gif) no-repeat 10px 50%;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #FFFFFF;
}

.boxed .page {
	padding: 10px;
}

/* r */

#header {
	width:990px;
	height:367px;
	margin: 0 auto;
	background-image:url(../../images/Beautiful_life/banner_img.jpg);
	background-repeat:no-repeat;
	background-position:center 12px;
}

/* 830pxr > Logo */

#logo {
	
	padding:20px 0 0 30px;
	width:100%;
	color:#b09158;
	font-size:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#logo h1 {
	text-transform: uppercase;
	font-size: 2em;
}

#logo h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: 1.2em;
	padding-left:15px;
	text-align:left;
}

#logo a {
	text-decoration: none;
	color:#b09158;
	font-size:150%;
	letter-spacing:10px;
	text-transform:uppercase;
	font-family:"Trajan Pro";
	font-weight:bold;	
}
	/* Header > Top Menu */

#top1 {
	float: right;
}

#topmenu ul {
	margin: 0;
	padding: 100px 0 0 0;
	list-style: none;
	line-height: normal;
}

#topmenu li {
	display: inline
}

#topmenu a {
	display: block;
	float: left;
	margin: 0 0 0 20px;
	padding: 0 0 0 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	color: #FFFFFF;
}

#topmenu a:hover {
	text-decoration: underline
}

#topmenu1 {
	background: url(../../images/Beautiful_life/img03.gif) no-repeat left center;
}

#topmenu2 {
	background: url(../../images/Beautiful_life/img04.gif) no-repeat left center;
}

#topmenu3 {
	background: url(../../images/Beautiful_life/img05.gif) no-repeat left center;
}

/* Menu */

#menu{
	margin:0 auto;
	position:relative;
	display:block;
	height:50px;
	font-size:12px;
	width:980px;
	background-image:url(../../images/Beautiful_life/menu_bg.jpg); repeat-x top left;
	font-family:Arial,Verdana,Helvitica,sans-serif;text-transform:uppercase;
}
	
	
	
#menu ul{margin:0px 0px 0px 0; padding:0;list-style-type:none;width:auto;}
#menu ul li{display:block;float:left;margin:0 1px 0 0; }
#menu ul li a{display:block;float:left;color:#f3f3f3; font-weight:bold; text-decoration:none;padding:19px 28px 0 28px; height:30px; background: url(../../images/Beautiful_life/seprator.png) no-repeat left center;}
#menu ul li a:hover,#menu ul li a.current{
background-color:#68552f;
color:#fff;
background-image:none;
}
#menu ul li a.current{
	background-image:none !important;
}



/* Content */

#page {
	width:936px;
	margin: 0 auto;
	background-repeat:repeat-x;
	padding:0 22px;

}

/* Content > Main */

#content {
	width: 940px;
	margin:auto;
	color:#fff;
	padding: 20px 20px 20px 0;
	min-height:270px;
	height:auto !important;
	line-height:24px;
	font-size:14px;
}

#content p strong
	{
	font-weight:bold;
	text-transform:uppercase;
	font-size:15px;
	/*color:#666666;*/


	}

#content h2
	{
	/*border-bottom:1px solid #c07f6b;*/
	color:#993300;
	padding-top:8px;
	font-family:"Trajan Pro";
	
	background-repeat:no-repeat ;
	background-position:left;

	}
#content strong
	{
	font-size:14px;
	/*color:#DC921D;*/
	}
/* Content > Main > Example */

#example {
}

/* Content > Main > Welcome */

#welcome {
	margin: 0 0 3em 0;
	padding: 10px 0 1.5em 0;
	border-bottom: 1px solid #CCCCCC;
}
#footer {
	clear: both;
	margin:0 auto;
	background-image:url(../../images/Beautiful_life/bottm_footer_bg.png);
	background-repeat:no-repeat;
	background-position:center 2px;
	text-decoration:none;
	width:990px;
	height:100px;
}

/* Footer > Legal */

#legal {
	margin: 0;
	padding: 38px 7px 0 7px;
	text-align: center;
	text-decoration:none;
	color: #fff;
}

#legal a {
	font-weight: normal;
	color: #fff;
	text-decoration:none;
}

/* Footer > Links */

#links {
	margin: 0;
	padding: 10px;
	text-align: center;
}


div.suggestDiv
{
	clear: both;
	width: 100%;
	border:0px solid #000;	
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#CCCCCC;
	height:100px;
	margin:0 auto;
}

#adSense
{
	width: 800px;
	border:0px solid #000;
	font-size:15px;
	font-weight:bold;
	/*padding-top:5px;*/
	padding-bottom:40px;
	color:#fff;
	/*background-color:#99CCCC;*/
	height:110px;
	margin:0 auto;

}

#adSense a {
	display:block;
	float:left;
	height:152px !important;
}

input[type="submit"] {
    background:url(../../images/Beautiful_life/button_bg.png);
    border: 0 none;
    color: #FFFFFF;
    font-weight: bold;
    height: 29px;
    width: 102px;
}

input[type="submit"]:hover {
    background:url(../../images/Beautiful_life/button_bg.png) -1px 29px;
    cursor:pointer;
    width: 102px;
}

.feedback_tab table {
	box-shadow:3px 0 6px #000000 !important; 
}
.contact_tab table {
	box-shadow:3px 0 6px #000000 !important; 
}
